.pokemon-display-container {
    display: flex;
    padding: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 99%;
}
.test {
    color: red;
}

.rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    
}

.upper-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 30%;
    min-height: 30%;
    flex-grow: .5;
    width: auto;
   
    padding-bottom: 0;
    
}

.lower-row {
    border-top: solid black;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #545863ff;
    width: auto;
    max-height: 65%;
    min-height: 65%;
    flex-grow: 1.5;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.item-selector {
}

.item-selector-content {
    bottom: 0;
    max-height: 40rem;
    height: 50%;
    overflow-y: auto;
    padding: .5em;
    resize: vertical;
    font-size:.8em;
    width: fit-content;
}

.move-selector-list {
    bottom: 0;
    max-height: 15rem;
    overflow-y: auto;
    padding: .5em;
    resize: vertical;
    font-size:.8em;
    width: fit-content;
}
