@import url("./styles/customization-window.scss");
@import url(../reset.css);



.container,
html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #f8f4e3ff;
}

.container {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;   
  align-items: stretch;
}

.quarter-width {
  width: 15%;
}

// .three-quarter-width {
//   width: 85%;
// }

.full-height {
  min-height: 100%;
}

// .short {
//   min-height: 10%;
// }

// .medium {
//   min-height: 20%;
// }

// .tall {
//   height: 70%;
//   min-height: 70%;
// }

// .small {
//   height: 50px;
//   width: 50px;
// }

.list {
  display: flex;
  flex-wrap: wrap;
}
.list-item {
  display: flex;
  padding: 0.5em;
  width: 13.4%;
}
.list-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

#preview-display {
    height: 200px;
    width: 200px;
}

#pokemon-preview {
  background-color: #f8f4e3ff;
}

.pokedex-list-container {
    // background-color: #fbfbfb;
    // position: absolute;
    bottom: 0;
    max-height: 40rem;
    height: 100%;
    overflow-y: auto;
    padding: .5em;
    resize: vertical;
    // font-family: Monaco, Menlo, Consolas, Courier New, monospace;
    font-size:.8em;
    min-width: 100%;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

button {
    background-color: white;
    border: none;
    text-transform: uppercase
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#search-input {
  width: 12em;
}

.types {
  width: 12em;
}

#pokedex-list {
  background-color: #545863ff;
}

.list-content {
  background-color: #545863ff;
}

button {
  background-color: #545863ff;
}

#search-input {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 12em;
    font-size: 16px;
    padding: 12px 12px 12px 12px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

.move-selector-list li {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

.move-selector-list {
}

.types-content p {
  border: 1px solid black;
  margin-top: -1px;
  width: 66px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #aa9;
  font-size: .75rem;
}

.grass {
  background-color: #7c5;
  border-radius: 4px;
}

.fire {
  background-color: #f42;
  border-radius: 4px;
}

.water {
  background-color: #39f;
  border-radius: 4px;
}

.ice {
  background-color: #6cf;
  border-radius: 4px;
}

.rock {
  background-color: #ba6;
  border-radius: 4px;
}

.ground {
  background-color: #db5;
  border-radius: 4px;
}

.flying {
  background-color: #89f;
  border-radius: 4px;
}

.electric {
  background-color: #fc3;
  border-radius: 4px;
}

.steel {
  background-color: #aab;
  border-radius: 4px;
}

.poison {
  background-color: #a59;
  border-radius: 4px;
}

.fairy {
  background-color: #e9e;
  border-radius: 4px;
}

.normal {
  background-color: #aa9;
  border-radius: 4px;
}

.dark {
  background-color: #754;
  border-radius: 4px;
}

.ghost {
  background-color: #66b;
  border-radius: 4px;
}

.dragon {
  background-color: #76e;
  border-radius: 4px;
}

.psychic {
  background-color: #f59;
  border-radius: 4px;
}

.bug {
  background-color: #ab2;
  border-radius: 4px;
}

.fighting {
  background-color: #b54;
  border-radius: 4px;
}

.stats-bar {
  height: .75rem;
  background-color: red;
}


